<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>WPLEX Garagem | Spring Boot Application</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="" />
	<meta name="author" content="Ryan Padilha" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>
<body>
	<div class="container">
		<nav th:replace="fragments/menu :: menu"></nav>

		<div class="jumbotron">
			<p><a class="btn btn-primary" th:href="@{/company/form}" role="button">Novo Cadastro</a></p>
			<h3 class="sub-header">Relação de Empresas</h3>
			<p style="font-size: 15px;">GET https://wplex-app.herokuapp.com/api/v1/companies</p>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Inicial</th>
							<th>Nome</th>
							<th>Data de Criação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="company : ${companies}">
							<td th:text="${company.id}"></td>
							<td th:text="${company.initials}"></td>
							<td th:text="${company.name}"></td>
							<td th:text="${company.created}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>