<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>WPLEX Garagem | Spring Boot Application</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="" />
	<meta name="author" content="Ryan Padilha" />

	<!-- Bootstrap core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"></link>
	
	<!-- Custom styles for this template -->
	<link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet"></link>
	
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<nav th:replace="fragments/menu :: menu"></nav>

		<div class="jumbotron">
			<p><a class="btn btn-primary" th:href="@{/garage/form}" role="button">Novo Cadastro</a></p>
			<h3 class="sub-header">Relação de Garagens</h3>
			<p style="font-size: 15px;">GET http://research-labs:8080/wplex-garagem/api/v1/garage</p>
			<p style="font-size: 15px;">GET http://research-labs:8080/wplex-garagem/api/v1/garage/search/page?page=0&amp;limit=2&amp;order=name&amp;direction=ASC</p>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Inicial</th>
							<th>Nome</th>
							<th>Empresa</th>
							<th>Data de Criação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="garage : ${garages}">
							<td th:text="${garage.id}"></td>
							<td th:text="${garage.initials}"></td>
							<td th:text="${garage.name}"></td>
							<td th:text="${garage.company}"></td>
							<td th:text="${garage.created}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>