<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>WPLEX Garagem | Spring Boot Application</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="" />
	<meta name="author" content="Ryan Padilha" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>
<body>
	<div class="container">
		<nav th:replace="fragments/menu :: menu"></nav>

		<div class="jumbotron">
			<header class="jumbotron hero-spacer">
				<h2>WPLEX Garagem | MVC e REST API</h2>
				<p>
					Exemplo prático de projeto desenvolvido com Spring Boot. <br></br>Documentação
					gerada através de Swagger 2.0.
				</p>
				<p>
					RESTful API disponibiliza através do path <br></br> <strong>https://wplex-app.herokuapp.com/v1/</strong>
				</p>
				<p>
					<a class="btn btn-primary btn-large"
						href="https://github.com/ryanpadilha/wplex-garagem-spring-boot"
						target="_github">Veja o código-fonte no GitHub</a>&nbsp; <a
						class="btn btn-success btn-large"
						href="https://wplex-app.herokuapp.com/api-portal/swagger/1.0/index.html"
						target="_restapidoc">Documentação REST API Endpoints</a>
				</p>
			</header>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>